.introduce {
  &__container {
    &__heading {
      margin-bottom: 4rem;
    }
    &__content {
      padding-bottom: 4rem;
      font-size: 1.8rem;
    }

    @media screen and (max-width: 767.98px) {
      &__heading {
        text-align: center;
      }
    }
  }
}
